@import url(base.css);
body,html,.container{
	width: 100%;
	background: #fff;
	height: 100%;
	overflow: hidden;
}
.container {
	background: url("upload.png")center/cover no-repeat;
	position: relative;
}
.container img{
	position: absolute;
	left:0;
	right: 0;
	margin: auto;
	width: 1.86rem;
	height: 1.86rem;
	bottom: 5.36rem;
}